      <div class="panel panel-default g-panel">
        <div class="panel-heading">
          Comments
        </div>
        <div class="panel-body g-post">
          <div class="g-post-body">
            post body..
          </div>
          <div class="g-comments">
            comments
          </div>
          <div class="g-controls">
            <a href="javascript:void(0);" style="margin: 20px 10px"><i class="fa fa-thumbs-o-up"></i></a>
            <a href="javascript:void(0);" style="margin: 20px 10px"><i class="fa fa-comment-o"></i></a>
          </div>
        </div>
        <div class="panel-footer">
          <span>
            <input type="text" name="comment" class="comment-box" placeholder="Write a comment...">
          </span>
        </div>
      </div>