<div class="ECyoFe TsiDff hh xFG3Re ICsgXc" cid="Ugz1V_9CjpazYe_sYDR4AaABAQ">
  <div tabindex="0" style="width: 1px; height: 1px; position: absolute; background-color: transparent;"></div>
  <div class="Ff">
    <div class="omV6ge Ef">
      <div class="Ik">
        <div class="Dr">
          <div class="wV">
            <div class="xB NCB1ac">
              <div>
                <div class="dkXKwf">
                  <div class="hz U3VU6d">
                    <div class="hz U3VU6d">
                      <div class="JN">
                        <div class="IN">
                          <div class="FN">
                            <div class="dX5Zb fN"></div>
                          </div>
                          <div class="GN">
                            <div class="Ob2Lud RE EIhiV" googlevoice="nolinks">Vikesh Patel</div>
                            <div class="O1vsec">
                              <span class="UYHjsf UYHjsf" dir="">Active 2w ago</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vV">
              <div class="o8qlBb PJ"> 
                <button class="gGnOIc v2 qp Ou kL4vjf" title="Minimize"></button>  
                <button class="gGnOIc x2 qp DI QmCEdd" title="Pop-out"></button>  
                <button class="gGnOIc tV qp SD p7oPo JPiKic" title="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="w9Cci"></div>
      </div>
    </div>
  </div>
  <div class="Xg">
    <div class="sh">
      <div class="lqfOD lGboVb">
        <div class="fcpPib">
          <div id=":1yg.cv" class="hh">
            <div class="Ff">
              <div class="Ef">
                <div class="pZmzUc"></div>
                <div id=":1yg.cvhd" class="eu">
                  <div class="eFvtsc">
                    <div class="EV">
                      <div class="GV">
                        <div class="FV">
                          <div class="UJ">
                            <div>
                              <div class="AB">
                                <div class="HCKRbd ttmkl">
                                  <button id=":1zv" class="Xv yR uq" title="Video call. Click to start a video call."></button>
                                </div>
                                <div class="HCKRbd P4bFcd">
                                  <button class="Az FP uq" title="Create a group Hangout with Vikesh" aria-label="Create a group Hangout with Vikesh">
                                    <div class="dwrYTb OK"></div>
                                  </button>
                                </div>
                                <div class="HCKRbd MlgsDc"></div>
                                <div class="HCKRbd qjsPX"></div>
                                <div class="HCKRbd TOI0be"></div>
                                <div class="HCKRbd TV4l3e"></div>
                                <div class="HCKRbd mfXZUe"></div>
                              </div>
                            </div>
                          </div>
                          <div class="BB">
                            <div class="NHBen ydob5c">
                              <button class="ydob5c LNG8Df uq">
                                <svg width="22px" height="22px" viewBox="0 0 24 24" class="pTh3n Z1lDy">
                                  <path d="M18 16v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-5 0h-2v-2h2v2zm0-4h-2V8h2v4zm-1 10c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2z"></path>
                                </svg>
                                <svg width="22px" height="22px" viewBox="0 0 24 24" class="pTh3n PFO8Zc">
                                  <path d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M20 18.69L7.84 6.14 5.27 3.49 4 4.76l2.8 2.8v.01c-.52.99-.8 2.16-.8 3.42v5l-2 2v1h13.73l2 2L21 19.72l-1-1.03zM12 22c1.11 0 2-.89 2-2h-4c0 1.11.89 2 2 2zm6-7.32V11c0-3.08-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68c-.15.03-.29.08-.42.12-.1.03-.2.07-.3.11h-.01c-.01 0-.01 0-.02.01-.23.09-.46.2-.68.31 0 0-.01 0-.01.01L18 14.68z"></path>
                                </svg>
                              </button>
                            </div>
                            <div class="NHBen O8uUBb">
                              <button class="uq vR">
                                <svg width="22px" height="22px" viewBox="0 0 24 24" fill="#000000" class="pTh3n">
                                  <path d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path>
                                </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="TA6sze">
                    <div>
                      <div id=":1yy.ma" class="bu cd">
                        <div class="MxAgEd"></div>
                        <div id=":1yy.co" class="sN"></div>
                      </div>
                    </div>
                  </div>
                  <div class="RcwpFd">
                    <div class="MT zc-ri"></div>
                  </div>
                  <div class="Xh6JOe">
                    <div class="CD" role="alert">
                      <div class="uuQw6b cK7kwe"></div>
                      <div class="FD X05OAf">You blocked 0 people</div>
                      <button class="OXabB uq eZnmKf hHa8D" title="Dismiss"></button>
                    </div>
                  </div>
                </div>
                <div class="laz0Gd eu">
                  <div class="T3I4p">
                    <div class="RPN8sb ZgjO3b"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Xg">
              <div class="sh B4SsQb">
                <div class="Ih Uf RP an" tabindex="0">
                  <div id=":1ys.bg" class="iN"></div>
                  <div id=":1ys.sc" class="Eg a-E">
                    <div id=":1ys.cn" class="hN so Fj Ij">
                      <div id=":1ys.ld" class="XE">
                        <div class="a-Hc">
                          <div>
                            <div class="a-Hc-W-ih">
                              <div class="a-Hc-Ig" style="left: 0px; top: 10px; width: 19px; height: 10px;">
                                <div class="a-Hc-W" style="left: 0px; top: -10px; background-color: transparent;"></div>
                                  <div class="a-Hc-W a-Hc-ih" style="left: 0px; top: 0px; height: 0px; background-color: rgb(222, 161, 26);"></div>
                                </div>
                                <div class="a-Hc-Ig" style="left: 0px; top: 0px; width: 19px; height: 10px;">
                                  <div class="a-Hc-W" style="display: none; background-color: rgb(255, 211, 75);"></div>
                                  <div class="a-Hc-W a-Hc-ih-dj" style="top: 0px; height: 19px; background-color: transparent;"></div>
                                </div>
                              </div>
                            </div>
                            <div class="a-Hc-f" style="opacity: 0;"></div>
                          </div>
                        </div>
                        <div id=":1ys.hw" class="fkp8p">
                          <div id=":215.mw" class="tk TmwRj Sn GjkoZd">
                            <div id=":215.ma" class="Tn">
                              <div class="KL">
                                <div class="OD">
                                  <div class="IL">
                                    <div class="Up pC" id=":215.av">
                                      <a target="_blank" href="https://plus.google.com/u/0/110212461983577124852/about" aria-label="View G+ profile" tabindex="0">
                                        <div class="n291pb uaxL4e">
                                          <img src="https://lh3.googleusercontent.com/-7tcVTPU_5ao/AAAAAAAAAAI/AAAAAAAAABE/0Sh2URLDT0k/s32-c-k-no/photo.jpg" class="Yf" alt="Vikesh Patel (vikesh.0715@gmail.com)" draggable="false" title="Vikesh Patel (vikesh.0715@gmail.com)" style="width: 32px; height: 32px;" tabindex="" aria-hidden="true">
                                          <div class="PUlnVb"> </div>
                                        </div>
                                      </a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="PD IF">
                                    <div class="KRQuhe"></div>
                                    <div id=":215.co" class="JL">
                                      <div id=":21a.ma" class="Mu SP" data-tooltip="October 13, 2015 at 5:54:47 PM UTC+5:30">
                                        <div id=":21a.at" class="xH"> </div>
                                        <span class="lWfe2d" aria-hidden="true">[October 13, 2015 at 5:54:47 PM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span>
                                        <span id=":21a.co" class="tL8wMe EMoHub" dir="ltr" style="text-align: left;">Hello Brother</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="ci">
                                    <div class="jHldnd"></div>
                                  </div>
                                </div>
                                <div class="TlvAYc">
                                  <span class="UR UG" id=":215.na">
                                    <span vertical-align="middle">Vikesh</span>
                                  </span>
                                  <span class="vpQMGb">&nbsp;•&nbsp;</span>
                                  <span class="Lq t5VoAf">
                                    <span id=":215.ti" class="nu4ufe">
                                      <span class="sV" title="10/13/15, 5:54 PM" aria-label="10/13/15, 5:54 PM ">10/13/15, 5:54 PM</span>
                                    </span>
                                    <button class="BjEYhd UM" aria-label="This message may not have been stored in your history. Learn more." title="This message may not have been stored in your history. Learn more."></button>
                                  </span>
                                  <span class="pNTFbe"></span>
                                </div>
                              </div>
                              <div class="TR"></div>
                            </div>
                            <div id=":20y.mw" class="tk TmwRj Sn GjkoZd">
                              <div id=":20y.ma" class="Tn">
                                <div class="KL">
                                  <div class="OD">
                                    <div class="IL">
                                      <div class="Up pC" id=":20y.av">
                                        <a target="_blank" href="https://plus.google.com/u/0/110212461983577124852/about" aria-label="View G+ profile" tabindex="0">
                                          <div class="n291pb uaxL4e">
                                            <img src="https://lh3.googleusercontent.com/-7tcVTPU_5ao/AAAAAAAAAAI/AAAAAAAAABE/0Sh2URLDT0k/s32-c-k-no/photo.jpg" class="Yf" alt="Vikesh Patel (vikesh.0715@gmail.com)" draggable="false" title="Vikesh Patel (vikesh.0715@gmail.com)" style="width: 32px; height: 32px;" tabindex="" aria-hidden="true">
                                            <div class="PUlnVb"></div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="PD IF">
                                    <div class="KRQuhe"></div>
                                    <div id=":20y.co" class="JL">
                                      <div id=":213.ma" class="Mu SP" data-tooltip="October 17, 2015 at 11:08:41 AM UTC+5:30">
                                        <div id=":213.at" class="xH">
                                          <div class="et9sxc" style="width: 164px; height: 218px;">
                                            <a href="https://plus.google.com/u/0/photos/albums/phn8i0dmlkqsbio8drd2k17t80m464n1m?pid=6206486821149026690&amp;oid=110212461983577124852" target="_blank" class="WLrLpb" tabindex="-1">
                                              <img src="https://lh3.googleusercontent.com/-vcH2Nu1zl84/ViHe4WW7KYI/AAAAAAAAACc/vLFmn4Ylp30/s512/IMG_20151008_233130.jpg" class="uqvYjb KgFPz" alt="" aria-label="Picture. Press Enter to open it in a new page.">
                                            </a>
                                            <div class="glTU3d utCB7e NjzSJc uq"></div>
                                          </div>
                                        </div>
                                        <span class="lWfe2d" aria-hidden="true">[October 17, 2015 at 11:08:41 AM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span>
                                        <span id=":213.co" class="tL8wMe EMoHub"></span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="ci"><div class="jHldnd"></div></div>
                                </div>
                                <div class="TlvAYc">
                                  <span class="UR UG" id=":20y.na">
                                    <span vertical-align="middle">Vikesh</span>
                                  </span>
                                  <span class="vpQMGb">&nbsp;•&nbsp;</span>
                                  <span class="Lq t5VoAf">
                                    <span id=":20y.ti" class="nu4ufe">
                                      <span class="sV" title="10/17/15, 11:08 AM" aria-label="10/17/15, 11:08 AM ">10/17/15, 11:08 AM</span>
                                    </span>
                                    <button class="BjEYhd UM" aria-label="This message may not have been stored in your history. Learn more." title="This message may not have been stored in your history. Learn more."></button>
                                  </span>
                                  <span class="pNTFbe"></span>
                                </div>
                              </div>
                              <div class="TR"></div>
                            </div>
                            <div id=":20l.mw" class="tk TmwRj Sn GjkoZd">
                              <div id=":20l.ma" class="Tn">
                                <div class="KL">
                                  <div class="OD">
                                    <div class="IL">
                                      <div class="Up pC" id=":20l.av">
                                        <a target="_blank" href="https://plus.google.com/u/0/110212461983577124852/about" aria-label="View G+ profile" tabindex="0">
                                          <div class="n291pb uaxL4e">
                                            <img src="https://lh3.googleusercontent.com/-7tcVTPU_5ao/AAAAAAAAAAI/AAAAAAAAABE/0Sh2URLDT0k/s32-c-k-no/photo.jpg" class="Yf" alt="Vikesh Patel (vikesh.0715@gmail.com)" draggable="false" title="Vikesh Patel (vikesh.0715@gmail.com)" style="width: 32px; height: 32px;" tabindex="" aria-hidden="true">
                                            <div class="PUlnVb"></div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="PD IF">
                                    <div class="KRQuhe"></div>
                                    <div id=":20l.co" class="JL">
                                    <div id=":20w.ma" class="Mu SP" data-tooltip="August 24, 2016 at 7:17:53 AM UTC+5:30">
                                      <div id=":20w.at" class="xH">
                                        <div class="et9sxc" style="width: 164px; height: 218px;">
                                          <a href="https://plus.google.com/u/0/photos/albums/phn8i0dmlkqsbio8drd2k17t80m464n1m?pid=6322205919704380866&amp;oid=110212461983577124852" target="_blank" class="WLrLpb" tabindex="-1">
                                            <img src="https://lh3.googleusercontent.com/-vNlGdsWWNWI/V7z8yZjZ9cI/AAAAAAAAAEM/BDjIFAd_PCoVpLZMFt30mRkWsmirsvzFQCK8B/s512/3213804140459603220%253Faccount_id%253D2" class="uqvYjb KgFPz" alt="" aria-label="Picture. Press Enter to open it in a new page.">
                                          </a>
                                          <div class="glTU3d utCB7e NjzSJc uq"></div>
                                        </div>
                                      </div>
                                      <span class="lWfe2d" aria-hidden="true">[August 24, 2016 at 7:17:53 AM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span>
                                      <span id=":20w.co" class="tL8wMe EMoHub"></span>
                                    </div>
                                    <div id=":20u.ma" class="Mu SP" data-tooltip="August 24, 2016 at 7:17:58 AM UTC+5:30">
                                      <div id=":20u.at" class="xH">
                                        <div class="et9sxc" style="width: 164px; height: 92px;">
                                          <a href="https://plus.google.com/u/0/photos/albums/phn8i0dmlkqsbio8drd2k17t80m464n1m?pid=6322205939287985698&amp;oid=110212461983577124852" target="_blank" class="WLrLpb" tabindex="-1">
                                            <img src="https://lh3.googleusercontent.com/-QQsSXg2oHaY/V7z8ziggDiI/AAAAAAAAAEc/gcFZX_oaZMQrNM-xBBfYI6Nnjyw_Isi_QCK8B/s512/1586552216378834654%253Faccount_id%253D2" class="uqvYjb KgFPz" alt="" aria-label="Picture. Press Enter to open it in a new page.">
                                          </a>
                                          <div class="glTU3d utCB7e NjzSJc uq"></div>
                                        </div>
                                      </div>
                                      <span class="lWfe2d" aria-hidden="true">[August 24, 2016 at 7:17:58 AM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span>
                                      <span id=":20u.co" class="tL8wMe EMoHub"></span>
                                    </div>
                                    <div id=":20s.ma" class="Mu SP" data-tooltip="August 24, 2016 at 7:18:02 AM UTC+5:30">
                                      <div id=":20s.at" class="xH">
                                        <div class="et9sxc" style="width: 164px; height: 230px;">
                                          <a href="https://plus.google.com/u/0/photos/albums/phn8i0dmlkqsbio8drd2k17t80m464n1m?pid=6322205957329418994&amp;oid=110212461983577124852" target="_blank" class="WLrLpb" tabindex="-1">
                                            <img src="https://lh3.googleusercontent.com/-mKA8w1ODR9Q/V7z80lt6evI/AAAAAAAAAEo/s8cbqhm-PPs97LaMSXBoNaHdk5uFI7tkwCK8B/s512/3837864909639917964%253Faccount_id%253D2" class="uqvYjb KgFPz" alt="" aria-label="Picture. Press Enter to open it in a new page.">
                                          </a>
                                          <div class="glTU3d utCB7e NjzSJc uq"></div>
                                        </div>
                                      </div>
                                      <span class="lWfe2d" aria-hidden="true">[August 24, 2016 at 7:18:02 AM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span>
                                      <span id=":20s.co" class="tL8wMe EMoHub"></span>
                                    </div>
                                    <div id=":20q.ma" class="Mu SP" data-tooltip="August 24, 2016 at 7:20:16 AM UTC+5:30">
                                      <div id=":20q.at" class="xH">
                                        <div class="h7d7ie wNnMDf">
                                          <div class="t6vLSd" style="width: 164px; height: 82px; background-image: url(&quot;https://maps.googleapis.com/maps/api/staticmap?center=color%3Ared%7C24.5372927%2C81.3041800&amp;markers=color%3Ared%7C24.5372927%2C81.3041800&amp;size=500x500&quot;);"></div>
                                          <a href="https://maps.google.com/maps?q=24.5372927,81.30418" target="_blank" class="oYUAdc" aria-label="Map for Rewa. Press Enter to open it in Google Maps in a new page.">
                                            <div class="EjnAXc">
                                              <div class="cZJWYc Xlntwc">Rewa</div>
                                              <div class="cZJWYc">Rewa, Madhya Pradesh 486001, India</div>
                                            </div>
                                          </a>
                                        </div>
                                      </div>
                                      <span class="lWfe2d" aria-hidden="true">[August 24, 2016 at 7:20:16 AM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span>
                                      <span id=":20q.co" class="tL8wMe EMoHub"></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="ci"<div class="jHldnd"></div></div></div><div class="TlvAYc"><span class="UR UG" id=":20l.na"><span vertical-align="middle">Vikesh</span></span><span class="vpQMGb">&nbsp;•&nbsp;</span><span class="Lq t5VoAf"><span id=":20l.ti" class="nu4ufe"><span class="sV" title="8/24/16, 7:20 AM" aria-label="8/24/16, 7:20 AM ">8/24/16, 7:20 AM</span></span><button class="BjEYhd UM" aria-label="This message may not have been stored in your history. Learn more." title="This message may not have been stored in your history. Learn more."></button></span><span class="pNTFbe"></span></div></div><div class="TR"></div></div><div id=":20c.mw" class="tk TmwRj Sn GjkoZd"><div id=":20c.ma" class="Tn"><div class="KL"><div class="OD"><div class="IL"><div class="Up pC" id=":20c.av"><a target="_blank" href="https://plus.google.com/u/0/110212461983577124852/about" aria-label="View G+ profile" tabindex="0"><div class="n291pb uaxL4e"><img src="https://lh3.googleusercontent.com/-7tcVTPU_5ao/AAAAAAAAAAI/AAAAAAAAABE/0Sh2URLDT0k/s32-c-k-no/photo.jpg" class="Yf" alt="Vikesh Patel (vikesh.0715@gmail.com)" draggable="false" title="Vikesh Patel (vikesh.0715@gmail.com)" style="width: 32px; height: 32px;" tabindex="" aria-hidden="true"><div class="PUlnVb"></div></div></a></div></div></div><div class="PD IF"><div class="KRQuhe"></div><div id=":20c.co" class="JL"><div id=":20j.ma" class="Mu SP" data-tooltip="August 24, 2016 at 8:09:12 AM UTC+5:30"><div id=":20j.at" class="xH"><div class="et9sxc" style="width: 164px; height: 218px;"><a href="https://plus.google.com/u/0/photos/albums/phn8i0dmlkqsbio8drd2k17t80m464n1m?pid=6322219143385137170&amp;oid=110212461983577124852" target="_blank" class="WLrLpb" tabindex="-1"><img src="https://lh3.googleusercontent.com/-nzKbpd68-_A/V70I0HmlQBI/AAAAAAAAAFY/HIEo1SeThmoD0VY_ebJsB_UNYHUwUFfUACK8B/s512/4767193105498145950%253Faccount_id%253D2" class="uqvYjb KgFPz" alt="" aria-label="Picture. Press Enter to open it in a new page."></a><div class="glTU3d utCB7e NjzSJc uq"></div></div></div><span class="lWfe2d" aria-hidden="true">[August 24, 2016 at 8:09:12 AM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span><span id=":20j.co" class="tL8wMe EMoHub"></span></div><div id=":20h.ma" class="Mu SP" data-tooltip="August 24, 2016 at 8:12:11 AM UTC+5:30"><div id=":20h.at" class="xH"><div class="et9sxc" style="width: 164px; height: 218px;"><a href="https://plus.google.com/u/0/photos/albums/phn8i0dmlkqsbio8drd2k17t80m464n1m?pid=6322219907124093218&amp;oid=110212461983577124852" target="_blank" class="WLrLpb" tabindex="-1"><img src="https://lh3.googleusercontent.com/-sslwiknAxjg/V70JgkwI4SI/AAAAAAAAAFs/PAG5wDX5sWw2VvtRK6Ms0n4W6knvHP09ACK8B/s512/5401913799097082316%253Faccount_id%253D2" class="uqvYjb KgFPz" alt="" aria-label="Picture. Press Enter to open it in a new page."></a><div class="glTU3d utCB7e NjzSJc uq"></div></div></div><span class="lWfe2d" aria-hidden="true">[August 24, 2016 at 8:12:11 AM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span><span id=":20h.co" class="tL8wMe EMoHub"></span></div></div></div><div class="ci"><div class="jHldnd"></div></div></div><div class="TlvAYc"><span class="UR UG" id=":20c.na"><span vertical-align="middle">Vikesh</span></span><span class="vpQMGb">&nbsp;•&nbsp;</span><span class="Lq t5VoAf"><span id=":20c.ti" class="nu4ufe"><span class="sV" title="8/24/16, 8:12 AM" aria-label="8/24/16, 8:12 AM ">8/24/16, 8:12 AM</span></span><button class="BjEYhd UM" aria-label="This message may not have been stored in your history. Learn more." title="This message may not have been stored in your history. Learn more."></button></span><span class="pNTFbe"></span></div></div><div class="TR"></div></div><div id=":205.mw" class="tk TmwRj Sn GjkoZd"><div id=":205.ma" class="Tn"><div class="KL"><div class="OD"><div class="IL"><div class="Up pC" id=":205.av"><a target="_blank" href="https://plus.google.com/u/0/110212461983577124852/about" aria-label="View G+ profile" tabindex="0"><div class="n291pb uaxL4e"><img src="https://lh3.googleusercontent.com/-7tcVTPU_5ao/AAAAAAAAAAI/AAAAAAAAABE/0Sh2URLDT0k/s32-c-k-no/photo.jpg" class="Yf" alt="Vikesh Patel (vikesh.0715@gmail.com)" draggable="false" title="Vikesh Patel (vikesh.0715@gmail.com)" style="width: 32px; height: 32px;" tabindex="" aria-hidden="true"><div class="PUlnVb"></div></div></a></div></div></div><div class="PD IF"><div class="KRQuhe"></div><div id=":205.co" class="JL"><div id=":20a.ma" class="Mu SP" data-tooltip="August 25, 2016 at 6:56:06 AM UTC+5:30"><div id=":20a.at" class="xH"><div class="et9sxc" style="width: 164px; height: 218px;"><a href="https://plus.google.com/u/0/photos/albums/phn8i0dmlkqsbio8drd2k17t80m464n1m?pid=6322571388362884562&amp;oid=110212461983577124852" target="_blank" class="WLrLpb" tabindex="-1"><img src="https://lh3.googleusercontent.com/-TRsH2_Z3WBo/V75JLeZrBdI/AAAAAAAAAGQ/malT5wCsfdgd7oS2Pygg9jBbYizhTWMjgCK8B/s512/9100354458360820143%253Faccount_id%253D2" class="uqvYjb KgFPz" alt="" aria-label="Picture. Press Enter to open it in a new page."></a><div class="glTU3d utCB7e NjzSJc uq"></div></div></div><span class="lWfe2d" aria-hidden="true">[August 25, 2016 at 6:56:06 AM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span><span id=":20a.co" class="tL8wMe EMoHub"></span></div></div></div><div class="ci"><div class="jHldnd"></div></div></div><div class="TlvAYc"><span class="UR UG" id=":205.na"><span vertical-align="middle">Vikesh</span></span><span class="vpQMGb">&nbsp;•&nbsp;</span><span class="Lq t5VoAf"><span id=":205.ti" class="nu4ufe"><span class="sV" title="8/25/16, 6:56 AM" aria-label="8/25/16, 6:56 AM ">8/25/16, 6:56 AM</span></span><button class="BjEYhd UM" aria-label="This message may not have been stored in your history. Learn more." title="This message may not have been stored in your history. Learn more."></button></span><span class="pNTFbe"></span></div></div><div class="TR"></div></div><div class="CV"><div class="yV"><div class="pgWkFf AV cwTTEb"></div><div class="A68Mz"><div class="U8EhUb BV">Missed call from Vikesh</div><div class="iv6oub DV"><span class="sV" title="8/25/16, 6:56 AM" aria-label="8/25/16, 6:56 AM ">8/25/16, 6:56 AM</span></div></div><div class="zV"></div></div></div><div class="CV"><div class="yV"><div class="pgWkFf AV cwTTEb"></div><div class="A68Mz"><div class="U8EhUb BV">Missed call from Vikesh</div><div class="iv6oub DV"><span class="sV" title="8/25/16, 6:57 AM" aria-label="8/25/16, 6:57 AM ">8/25/16, 6:57 AM</span></div></div><div class="zV"></div></div></div><div class="CV"><div class="yV"><div class="pgWkFf AV cwTTEb"></div><div class="A68Mz"><div class="U8EhUb BV">Missed call from Vikesh</div><div class="iv6oub DV"><span class="sV" title="8/25/16, 6:58 AM" aria-label="8/25/16, 6:58 AM ">8/25/16, 6:58 AM</span></div></div><div class="zV"></div></div></div><div class="CV"><div class="yV"><div class="pgWkFf AV cwTTEb"></div><div class="A68Mz"><div class="U8EhUb BV">Missed call from Vikesh</div><div class="iv6oub DV"><span class="sV" title="8/25/16, 11:02 AM" aria-label="8/25/16, 11:02 AM ">8/25/16, 11:02 AM</span></div></div><div class="zV"></div></div></div><div class="CV"><div class="yV"><div class="pgWkFf AV cwTTEb"></div><div class="A68Mz"><div class="U8EhUb BV">Missed call from Vikesh</div><div class="iv6oub DV"><span class="sV" title="8/25/16, 11:02 AM" aria-label="8/25/16, 11:02 AM ">8/25/16, 11:02 AM</span></div></div><div class="zV"></div></div></div><div id=":1z9.mw" class="tk TmwRj Sn GjkoZd"><div id=":1z9.ma" class="Tn"><div class="KL"><div class="OD"><div class="IL"><div class="Up pC" id=":1z9.av"><a target="_blank" href="https://plus.google.com/u/0/110212461983577124852/about" aria-label="View G+ profile" tabindex="0"><div class="n291pb uaxL4e"><img src="https://lh3.googleusercontent.com/-7tcVTPU_5ao/AAAAAAAAAAI/AAAAAAAAABE/0Sh2URLDT0k/s32-c-k-no/photo.jpg" class="Yf" alt="Vikesh Patel (vikesh.0715@gmail.com)" draggable="false" title="Vikesh Patel (vikesh.0715@gmail.com)" style="width: 32px; height: 32px;" tabindex="" aria-hidden="true"><div class="PUlnVb"></div></div></a></div></div></div><div class="PD IF"><div class="KRQuhe"></div><div id=":1z9.co" class="JL"><div id=":1ze.ma" class="Mu SP" data-tooltip="August 25, 2016 at 1:10:02 PM UTC+5:30"><div id=":1ze.at" class="xH"><div class="et9sxc" style="width: 158px; height: 282px;"><a href="https://plus.google.com/u/0/photos/albums/phn8i0dmlkqsbio8drd2k17t80m464n1m?pid=6322667752509669938&amp;oid=110212461983577124852" target="_blank" class="WLrLpb" tabindex="-1"><img src="https://lh3.googleusercontent.com/-tPt6A3dEFZw/V76g0m0oAjI/AAAAAAAAAGw/FVqBKW9fmiEATXWuD7PVovVJYp509Ug2gCK8B/s512/5245063395212604685%253Faccount_id%253D2" class="uqvYjb KgFPz" alt="" aria-label="Picture. Press Enter to open it in a new page."></a><div class="glTU3d utCB7e NjzSJc uq"></div></div></div><span class="lWfe2d" aria-hidden="true">[August 25, 2016 at 1:10:02 PM UTC+5:30] Vikesh Patel (vikesh.0715@gmail.com): </span><span id=":1ze.co" class="tL8wMe EMoHub"></span></div></div></div><div class="ci"><div class="jHldnd"></div></div></div><div class="TlvAYc"><span class="UR UG" id=":1z9.na"><span vertical-align="middle">Vikesh</span></span><span class="vpQMGb">&nbsp;•&nbsp;</span><span class="Lq t5VoAf"><span id=":1z9.ti" class="nu4ufe"><span class="sV" title="8/25/16, 1:10 PM" aria-label="8/25/16, 1:10 PM ">8/25/16, 1:10 PM</span></span><button class="BjEYhd UM" aria-label="This message may not have been stored in your history. Learn more." title="This message may not have been stored in your history. Learn more."></button></span><span class="pNTFbe"></span></div></div><div class="TR"></div></div></div><div class="xA sMBrBc" aria-hidden="true"><div class="kT"><div id=":1z3.av" class="Qm jU Ln" style="left: 10px; top: 10px;"><div class="myq7ic"><div class="LsfT3b" id=":1z0.a"><div class="n291pb uaxL4e"><img src="https://lh3.googleusercontent.com/-7tcVTPU_5ao/AAAAAAAAAAI/AAAAAAAAABE/0Sh2URLDT0k/s24-c-k-no/photo.jpg" class="Yf" alt="Vikesh Patel (vikesh.0715@gmail.com)" draggable="false" title="Vikesh Patel (vikesh.0715@gmail.com)" style="width: 24px; height: 24px;" tabindex="" aria-hidden="true"><div class="PUlnVb"></div></div></div><div class="KoN4Le" id=":1z0.s"><div class="Gk"><div class="nL"><div class="ci"></div></div><div class="iF9mle V8WHrc"><div class="Ql GJ"></div><div class="Ql HJ"></div><div class="Ql IJ"></div></div><div class="iF9mle lIMNze"><div class="WaHFTd"></div></div><div class="iF9mle JUqKjf Q"><div class="WaHFTd Hx2i1"></div></div><div class="iF9mle fFwjJf"><div class="WaHFTd"></div></div></div></div></div></div></div></div><div id=":1ys.st"></div></div></div><div class="fJuXyd"></div><div class="vf2M6b"></div></div></div></div><div class="Ff"><div id=":1yg.cvft" class="Ef sZ"> <div id=":1yz.ma" class="btdzsd" style="display: none;"><div class="NH"></div><a href="#" id=":1yz.mamia" class="N55cBe"></a></div><div class="lZ ca92t"><div class="xZwICe UwgkFd" style="display: none;"></div><div class="ennzS TM"></div><div id=":1yq.prec" class="USrBnb"><div class="ROOcAc SOzUEc"><div class="uoJAie Ps0Yfc"></div><button class="NQ0ZIe uq XWDeAf" title="Send attachment"></button><button class="sNWaoc wiV0gc" title="Remove attachment"></button></div></div><div id=":1yq.cw" class="mZ"><div class="mk"></div></div><div id=":1yq.ma" class="My"><button class="Wv1EFb SM uq" aria-label="Add an emoji or sticker" title="Add an emoji or sticker"><div class="Cyynpc"></div></button><div class="xE"><button id=":1yq.bt" class="yq6mRd yE Cr7bHe eQ uq" title="Attach a photo" aria-label="Attach a photo"></button><button class="Tnn80c yE UqhDsb IOwWEe uq" title="Draw an image!" aria-label="Draw an image!"></button></div><div id=":1yq.fc" class="a-E Uf jP gq"><div class="vsXRl"><div class="CWGGG Tt"><span class="WLUL0c">Send a message</span><span class="r4QAme">Send an SMS message</span></div><div class="CWGGG St">History is off</div></div><div class="CWGGG n676ne">Disabled</div><div class="PM"><div class="fq"><div class="iP RM"></div><div id=":1zi.f" class="vE dQ editable" aria-label=" Text entry field for Hangout with Vikesh Patel.  History is on. Active 2 weeks ago. " g_editable="true" role="textbox" contenteditable="true"></div></div></div></div></div></div></div></div><div class="U0Rtpb SwxUhb"><div class="ztKJ0d"><div class="nGxFwe"><div class="w9FLD"></div><div class="gDW0qe PBwvId"></div></div><br>Drop image to attach</div></div></div></div></div></div></div><div tabindex="0" style="width: 1px; height: 1px; position: absolute; background-color: transparent;"></div></div>