<div class="g-friends-list g-bottom-fixed">
  <div class="g-friends-container">
    <div class="g-friends">
      <div class="g-friend">
        <span class="image"></span><span class="name"><a href="javascript:void(0);"></a></span>
      </div>
    </div>
    <div class="g-controls">
      <div class="g-control" g-control='search-box-input' contenteditable="true"></div>
    </div>
  </div>
</div>