<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar">
    <div class="popup-head">
        <div class="popup-head-left pull-left">
            <a Design and Developmente title="Vimlesh Patel" target="_blank" href="https://web.facebook.com/vimlesh.0401">
                <img class="md-user-image" alt="Vimlesh Patel(Softwere Developer)" title="Vimlesh Patel(Softwere Developer)" src="/assets/users-737a573a08722eff250a31b012809d4c099083e6014469ff73bd30b6bf5aab1d.png">
                <h1>Vimlesh Patel</h1>
                <small><br> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Software Developer</small>
            </a>
        </div>
        <div class="popup-head-right pull-right">
            <button class="chat-header-button" type="button"><i class="glyphicon glyphicon-facetime-video"></i></button>
            <button class="chat-header-button" type="button"><i class="glyphicon glyphicon-earphone"></i></button>
            <div class="btn-group gurdeepoushan">
                <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                    <i class="glyphicon glyphicon-paperclip"></i> 
                </button>
                <ul role="menu" class="dropdown-menu pull-right">
                    <li><a href="#"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Photo</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Video</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Audio</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact</a></li>
                </ul>
            </div>
            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>

    <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
        <div class="chat_box touchscroll chat_box_colors_a">
            <div class="chat_message_wrapper">
                <div class="chat_user_avatar">
                    <a href="https://web.facebook.com/vimlesh.0401" target="_blank" >
                        <img alt="Vimlesh Patel(Softwere Developer)" title="Vimlesh Patel(Softwere Developer)"  src="/assets/users-737a573a08722eff250a31b012809d4c099083e6014469ff73bd30b6bf5aab1d.png" class="md-user-image">
                    </a>
                 </div>
                <ul class="chat_message">
                    <li>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                    </li>
                    <li>
                        <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                    </li>
                </ul>
            </div>
            <div class="chat_message_wrapper chat_message_right">
                <div class="chat_user_avatar">
                    <a href="https://web.facebook.com/vimlesh.0401" target="_blank" >
                        <img alt="Vimlesh Patel(Softwere Developer)" title="Vimlesh Patel(Softwere Developer)" src="/assets/users-737a573a08722eff250a31b012809d4c099083e6014469ff73bd30b6bf5aab1d.png" class="md-user-image">
                    </a>
                </div>
                <ul class="chat_message">
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                            <span class="chat_message_time">13:34</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="chat_message_wrapper">
                <div class="chat_user_avatar">
                    <a href="https://web.facebook.com/vimlesh.0401" target="_blank" >
                        <img alt="Vimlesh Patel(Softwere Developer)" title="Vimlesh Patel(Softwere Developer)" src="/assets/users-737a573a08722eff250a31b012809d4c099083e6014469ff73bd30b6bf5aab1d.png" class="md-user-image">
                    </a>
                </div>
                <ul class="chat_message">
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea mollitia pariatur porro quae sed sequi sint tenetur ut veritatis.https://www.facebook.com/vimlesh.0401
                            <span class="chat_message_time">23 Jun 1:10am</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="chat_message_wrapper chat_message_right">
                <div class="chat_user_avatar">
                    <a href="https://web.facebook.com/vimlesh.0401" target="_blank" >
                        <img alt="Vimlesh Patel(Softwere Developer)" title="Vimlesh Patel(Softwere Developer)" src="/assets/users-737a573a08722eff250a31b012809d4c099083e6014469ff73bd30b6bf5aab1d.png" class="md-user-image">
                    </a>
                </div>
                <ul class="chat_message">
                    <li>
                        <p> Lorem ipsum dolor sit amet, consectetur. </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            <span class="chat_message_time">Friday 13:34</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="chat_submit_box">
        <div class="uk-input-group">
            <div class="gurdeep-chat-box">
                <span style="vertical-align: sub;" class="uk-input-group-addon">
                    <a href="#"><i class="fa fa-smile-o"></i></a>
                </span>
                <input type="text" placeholder="Type a message" id="submit_message" name="submit_message" class="md-input">
                <span style="vertical-align: sub;" class="uk-input-group-addon">
                    <a href="#"><i class="fa fa-camera"></i></a>
                </span>
            </div>
        
            <span class="uk-input-group-addon">
                <a href="#"><i class="glyphicon glyphicon-send"></i></a>
            </span>
        </div>
    </div>
</aside>
<script type="text/javascript">
$(function(){

    $("#removeClass").click(function () {
        $('#sidebar_secondary').removeClass('popup-box-on');
        return false;
    });
})
</script>